<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>Welcome</h2>
<a th:href="@{/register}"><button type="button" id="newAccount">Create New Account</button></a><br>
<br>
<a th:href="@{/login}"><button type="button" id="loginButton">Login</button></a>
<br>
<a th:href="@{/upload}"><button type="button" id="uploadButton">Upload File</button></a>
</body>
</html>
