<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>Article Submission and Review System</h2>
<a th:href="@{/editorRegisteration}"><button type="button" id="newEditor">Register as a Editor</button></a><br>
<a th:href="@{/reviewerRegisteration}"><button type="button" id="newReviewer">Register as a Reviewer</button></a><br>
<a th:href="@{/submitterRegisteration}"><button type="button" id="newSubmitter">Register as a Submitter</button></a><br>
<a th:href="@{/logins}"><button type="button" id="loginButton">Login</button></a>

<h4>Test to view uploaded files</h4>
<p>View uploaded files<a href="/uploadView">here</a> </p>
<a th:href="@{/upload}"><button type="button" id="uploadButton">Upload File</button> </a>
</body>
</html>
