<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <!--Creates a basic html form to upload the file-->
    <form th:action="@{/uploadForm}" method="POST" enctype="multipart/form-data">
        <table>
            <tr>
                <td>Select a file to upload:</td>
                <br>
                <td><input type="file" name="file" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Upload" /></td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>